<%- include("header.ejs") %>
    <!-- About -->
<div class="my-5 px-4">
    <h2 class="text-center fw-bold h-font">ABOUT US</h2>
    <div class="h-line bg-dark"></div>
    <p class="text-center mt-3">
        Welcome to our hotel, where comfort meets luxury. We pride ourselves on delivering exceptional hospitality and creating memorable experiences for all our guests.  
    </p>
</div>

<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-5 mb-4 order-lg-1 order-md-1 order-2">
            <h3 class="mb-3">Experience Unmatched Hospitality</h3>
            <p>
                Our hotel offers a perfect blend of modern amenities and classic elegance, designed to cater to both leisure and business travelers. From beautifully appointed rooms to personalized services, we strive to exceed your expectations at every step.  
                Whether you're here to relax or explore, our team is dedicated to making your stay unforgettable.
            </p>
        </div>
        <div class="col-lg-5 col-md-5 mb-4 order-lg-2 order-md-2 order-1">
            <img src="images/about/about.jpg" class="w-100">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 text-center">
                <img src="images/about/hotel.svg" width="70px">
                <h4 class="mt-3">
                    100+ <br> ROOMS
                </h4>
                <p class="mt-2">Spacious, stylish, and equipped with everything you need for a comfortable stay.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 text-center">
                <img src="images/about/customers.svg" width="70px">
                <h4 class="mt-3">
                    200+ <br> CUSTOMERS
                </h4>
                <p class="mt-2">Our satisfied guests come back time and time again for the unparalleled service.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 text-center">
                <img src="images/about/rating.svg" width="70px">
                <h4 class="mt-3">
                    150+ <br> REVIEWS
                </h4>
                <p class="mt-2">Rated highly for our exceptional service and outstanding amenities.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 text-center">
                <img src="images/about/staff.svg" width="70px">
                <h4 class="mt-3">
                    200+ <br> STAFF
                </h4>
                <p class="mt-2">A dedicated team committed to ensuring every moment of your stay is extraordinary.</p>
            </div>
        </div>
    </div>
</div>


     <!--<h3 class="my-5 fw-bold h-font text-center">MANAGEMENT TEAM</h3>

        <div class="container px-4">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper mb-5">
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                    <div class="swiper-slide bg-white text-center overflow-hidden rounded">
                        <img src="images/about/team.jpg" class="w-100">
                        <h5 class="mt-2">Name Name</h5>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div> -->
        <%- include("footer.ejs") %>