<%- include("header.ejs") %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="bg-white rounded shadow p-4">
                <h3 class="text-center mb-4">Add A Room</h3>
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Room Type</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="name" 
                            name="roomType" 
                            value="" 
                            required
                        >
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Bed Type</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="name" 
                            name="bedType" 
                            value="" 
                            required
                        >
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Room Price</label>
                        <input 
                            type="number" 
                            class="form-control" 
                            id="price" 
                            name="price" 
                            value="" 
                            required
                        >
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input 
                            type="url" 
                            class="form-control" 
                            id="image" 
                            name="image" 
                            value="" 
                            required
                        >
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Add Service
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include("footer.ejs") %>